.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px auto 10px;
  padding: 0 10px;
  max-width: 1435px;
  border-radius: 5px;
  background-image: linear-gradient(40deg, #00bf82, #0099ae);
  font-size: 24px;

  .footer__link {
    text-decoration: none;
    color: black;

    &:active {
      color: black;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .footer__image {
    width: 150px;
  }
}
